<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="saeed" translate="label" sortOrder="400">
            <label>Saeed Extensions</label>
        </tab>
        <section id="stockguard" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Stock Guard</label>
            <tab>saeed</tab>
            <resource>Saeed_StockGuard::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Stock Guard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="threshold" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Low-Stock Threshold</label>
                    <comment>Products at or below this quantity are flagged as low stock.</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notifications</label>
                <field id="email_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email Alerts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipient" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipient Email(s)</label>
                    <comment>Comma-separated list of recipients.</comment>
                    <validate>required-entry</validate>
                    <depends><field id="email_enabled">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
